# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.pytest_cache/
.venv/
venv/

# Editores e SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Dados locais
*.csv
*.parquet
.ipynb_checkpoints/

# Cobertura
.coverage
htmlcov/
